<!-- Part One -->
<div class="container">
  <h4>basic example</h4>
  <ng-container
    [ngTemplateOutlet]="headerTempalte"
    [ngTemplateOutletContext]="{ $implicit: someText }"
  ></ng-container>
</div>

<ng-template #headerTempalte let-data>
  <h2>This text is passed from ngTemplateOutlet</h2>
  <p>{{ data }}</p>
</ng-template>
<!-- Part One -->











<!-- Part Two -->
<div class="container">
  <h4>passing component as template</h4>
  <ng-container [ngTemplateOutlet]="componentTemplate"></ng-container>
</div>

<ng-template #componentTemplate>
  <app-card [data]="selectedData"></app-card>
</ng-template>

<!-- Part Two -->









<!-- Part Three -->
<app-parent [cardTemplateRef]="secondComponentTemplate"></app-parent>

<ng-template #secondComponentTemplate>
  <app-card [data]="selectedDataSecond"></app-card>
</ng-template>
<!--Part Three-->









<div class="container">
  <h4>Rendering different types of templates based on condition</h4>

  <div class="wrapper">
    <div *ngFor="let d of data; index as i">
      <ng-container
        *ngTemplateOutlet="
          getSelectedComponentTemplate(d.type);
          context: { $implicit: { data: d } }
        "
      >
      </ng-container>
    </div>
  </div>
</div>

<ng-template #cardCalendar let-obj>
  <app-card [data]="obj.data"></app-card>
</ng-template>

<ng-template #cardShop let-obj>
  <app-card [data]="obj.data"></app-card>
</ng-template>
